//
// Typography
//

$font-size-root:         16px;
$font-size-base:         1rem;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$line-height-base:       1.5;

//
// Breakpoints
//

$sm-viewport: 560px;
$md-viewport: 760px;
$lg-viewport: 960px;

//
// Spacing
//

$spacer: 1rem;
$topNavbar: 6rem;

//
// COLORS
//
$pr-color: #29c2bd;
$dark-color: #0e0f8e;
$gray: #aaaaab
